{{> head }}
{{> navbar }}

    <div class="row">
     
     <div class="col-8">

         <h1>
Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis vero dolorum dolorem quam magnam fuga culpa libero tempora vel eius distinctio doloremque dolor ipsa pariatur possimus, quisquam delectus illo earum!
         </h1>
     </div>


     <div class="col-4">

         <img src="assets/img/Foto.PNG" class="img-thumbnail">
     </div>
    </div>


    
{{> footer }}